body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
    flex-direction: column;
}

h1 {
    font-size: 5em;
    color: #bcbcbc;
}

h3 {
    font-size: 2em;
    color: #adacac;;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items:center;
}

#age-year, #years-floating {
    margin: 0 0;
}

#years-floating {
    align-self: flex-start;
    margin-top: 10px;
}

#age-title {
    margin: 0 10px;
    font: 400;
    font-size: 1rem;
}


@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    h1 {
        font-size: 3em;
    }

    h3 {
        font-size: 1.5em;
    }


    #age-title {
        font-size: 0.875rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.2em;
    }

    #age-title {
        font-size: 0.75rem;
    }
}